* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}

/* Header */

header {
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;

}

.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 7px;
    padding-right: 7px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #000000;
    font-size: 14px;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 4px solid #B28756;
    color: #DDDDDD;
    transition: all linear .25s;
}

/* Main */

.banner {
    height: calc(100vh - 100px);
    background-color: #555;
    background-image: url('../images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg');
    background-size: cover;
    overflow: hidden;
}

.banner .sliders {
    width: 300vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner .slide-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h3 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .slide-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 16px;
    height: 16px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.section-default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-default .section-title,
.section-default .section-description {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.section-default .section-title {
    font-size: 22px;
    
}

.section-default .section-description {
    font-size: 12px;
    color: #AAAAAA;
    margin-top: 12px;
    margin-bottom: 40px;
}

.section-default .section-body {
    max-width: 1140px;
    margin: auto;
}

.section-default.light {
    background-color: #F2F2F2;
}

.section-default.light .section-title,
.section-default.light .section-body {
    color: #000000;
}

.section-default.dark {
    background-color: #000000;
}

.section-default.dark .section-title,
.section-default.dark .section-body {
    color: #FFFFFF;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 16px;
}

.button:hover {
    background-color: #9b7549;
    transition: all linear .25s;
}

/* Specific areas */ 

.section-aboutus {
    display: flex;
}

.section-aboutus-left {
    flex: 1;
}

.section-aboutus-left p {
    font-size: 14px;
    line-height: 30px;
}

.section-aboutus-right {
    width: 50%;
    padding-left: 30px;
}

.section-aboutus-right img {
    width: 100%;
    box-shadow: 2px 5px 10px #444444;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #333333;
}

.section-service:first-child {
    border-left: 1px solid #333333;  
}

.section-service img {
    width: 60px;
}

.section-service h3 {
    margin-top: 20px;
    text-transform: uppercase;
}

.section-service p {
    margin-top: 10px;
    color: #AAAAAA;
    font-size: 14px;
}

 
.section-ourprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-ourprojects-filters {
    border: 1px solid #CCCCCC;
    background-color: #e7e7e7;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 20px;
}

.section-ourprojects-filters ul,
.section-ourprojects-filters li {
    list-style: none;
}

.section-ourprojects-filters li {
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: #555555;
    border-left: 1px solid #CCCCCC;
    border-bottom: 4px solid #e7e7e7;
    cursor: pointer;
}


.section-ourprojects-filters li:hover {
    border-bottom: 4px solid #B28756;
    transition: all linear .25s;
    color: #222222;
}

.section-ourprojects-filters li:first-child {
    border-left: 0;
}

.section-ourprojects-filters li.active {
    border-bottom: 4px solid #B28756;
}

.section-ourprojects-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-ourprojects-photo {
    width: 280px;
}

.section-ourprojects-photoarea {
    margin: 10px;
    width: 260px;
    height: 174px;
    cursor: pointer;
}

.section-ourprojects-photoarea img {
    width: inherit;
    height: inherit;
    box-shadow: 1px 2px 5px #999;
    
}

.section-ourprojects-photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF
}

.section-ourprojects-photoinfo h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.section-ourprojects-photoinfo p {
    font-size: 14px;
}

.section-ourprojects-photoarea:hover .section-ourprojects-photoinfo {
    display: flex;
    box-shadow: 2px 3px 6px #666666;
    transition: all linear .25s;
}


.bg-team {
    background-image: url('../images/pedro-lastra-Nyvq2juw4_o-unsplash.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-ourteam {
    overflow: hidden;
    max-width: 1120px;
    margin: auto;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-ourteam .sliders {
    width: 300vw;
    height: 100%;
}

.section-ourteam .slide {
    width: 360px;
    height: 100%;
    display: inline-block;
    background-color: #FFFFFF;
    flex:1;
    margin-right: 20px;
    color: #000000;
    border-radius: 2px;
    padding: 50px;
}

.section-ourteam .slide-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #000000;
    text-align: center;
}

.section-ourteam .slide-pointers {
    margin-top: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-ourteam .pointer {
    width: 16px;
    height: 16px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.section-ourteam .pointer.active {
    background-color: #B28756;
}

.section-ourteam-avatar {
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 50px;
}

.section-ourteam-avatar img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.section-ourteam-name {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-ourteam-role {
    font-size: 14px;
    color: #333333;
    margin-bottom: 50px;
}

.section-ourteam-social img {
    width: 14px;
    height: 14px;
}

.section-ourteam-social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    padding: 6px;
    border-radius: 50%;
}

.section-ourteam-social a:hover {
    background-color: #B28756;
    transition: all linear .25;
}